name: build_conda
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: continuumio/miniconda3:latest
    steps:
    - name: Checkout Files
      uses: actions/checkout@v4
    - name: Run Pytests
      run: |
        pip install pytest
        pytest fre/app/tests/
    - name: Run Docker to Build
      run: |
        conda config --append channels conda-forge
        conda config --append channels noaa-gfdl
        conda install conda-build conda-verify
        conda build .
    - name: Pylint All Code
      continue-on-error: true
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pylint --clear-cache-post-run y ./fre
